.text {
    color: white;
}

.mainBox {
    background-color: blue;
    border: 1px solid;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox div {
    border: 1px solid; /* temporary */
    text-align: center;
    align-items: center;
}