@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Poppins&family=Montserrat&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

header {
  height: 4vh;
  border-bottom: 1px solid grey;
}

header div {
  width: 100%;
  display: flex;
  /*justify-content: space-around;*/
}

.optionsSection {
  display: flex;
  gap: 40px;
}

main {
  background-color: turquoise;
  height: 95vh;
  display: grid;
  grid-template-columns: 20% 80%;
}

.sideBar {
  background-color: white;
  border-right: 1px solid grey;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.sideBar div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainDiv {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 85%;
  height: 60%;
  border: 2px solid;
  display: flex;
  align-items: center;
  padding: 20px;
}

.checkboxDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.checkboxDiv input {
  height: 20px;
  width: 20px;
}